In [19]:
import requests
import urllib
from bs4 import BeautifulSoup
from collections import Counter
import pandas as pd

In [20]:
lst_url =[
    "https://finance.yahoo.com/most-active/", 
    'https://www.gurufocus.com/guru/consensus-picks'
    # "https://finance.yahoo.com/u/yahoo-finance/watchlists/most-active-penny-stocks",
    # 'https://finance.yahoo.com/u/yahoo-finance/watchlists/most-active-small-cap-stocks',
    # 'https://finance.yahoo.com/u/yahoo-finance/watchlists/stocks-with-the-highest-short-interest',
    # 'https://finance.yahoo.com/u/yahoo-finance/watchlists/video-game-stocks',
    # 'https://finance.yahoo.com/u/yahoo-finance/watchlists/cash-rich-companies-stocks',
    # 'https://finance.yahoo.com/u/yahoo-finance/watchlists/most-added',
    
    ]

In [21]:
lst_Merge = []

In [22]:
# GET TICKERS FROM ALL CAPS
for link in range(len(lst_url)):
	headers = {'User-Agent': 'Mozilla/5.0 (X11; Linux x86_64; rv:101.0) Gecko/20100101 Firefox/101.0', "cookie": "CONSENT=YES+cb.20230531-04-p0.en+FX+908"}

	response = requests.get(lst_url[link ], headers=headers )

	if response.status_code != 200:
		print("Error fetching page")
		exit()
	else:
		content = response.content
		
	soup = BeautifulSoup(response.content, 'html.parser')
	# All links in the page

	nb_links = len(soup.find_all('a'))
	print(f"There are {nb_links} links in this page")

	# GET ALL Text from the LINKS
	items = [item.text.strip() for item in soup.select('a') ]
	# for i in items:
	# 	print(i)

	#   REMOVE NON LINK TEXT
	test_list = [item.text.strip() for item in soup.select('a') ]
	# print(test_list)


	#  FILTER FOR CAPS ONLY
	for word in items:
		upperChars = True
		for letters in word:
	
			# checking for uppercase
			if not letters.isupper():
				upperChars = False
				break
		if upperChars:
			lst_Merge.append(word)
	

	# remove blanks
	lst_Merge = list(filter(None, lst_Merge))
	numCaps = len(lst_Merge)
	print(f"There are {numCaps} TICKERS in this page")

There are 97 links in this page
There are 25 TICKERS in this page
There are 375 links in this page
There are 73 TICKERS in this page

In [23]:
# REMOVE DUPLICATES

set_Merge =  set(lst_Merge)

#	Convert set to list to append 'END' below
lst_Merge = list(set_Merge)


print(f'There are {len(lst_Merge)} in List from Guru', lst_Merge)

There are 39 in List from Guru ['T', 'STLA', 'IQ', 'ABEV', 'META', 'JHG', 'F', 'HZNP', 'USA', 'CCL', 'AAPL', 'NVR', 'PBR', 'BAC', 'WBD', 'SU', 'GOOGL', 'MSFT', 'AMD', 'VALE', 'LAD', 'FAQ', 'ETF', 'EAT', 'NIO', 'ITUB', 'RGLD', 'BALL', 'UK', 'LCID', 'AMZN', 'COUP', 'GT', 'ITW', 'TSLA', 'NVDA', 'BBD', 'NU', 'API']

In [24]:
#   NYSE ONLY FILTER
# Append END while not END to RES_LST

tkr = '' 

def txtStripper(dcf):
    dcf = dcf.replace('\n', '')
    dcf = dcf.strip()
    print((tkr), ':',  (dcf))

lst_Merge.append('END')

#	Remove duplicates
# set_Merge =  set(lst_Merge)
# print(set_Merge)

while tkr != 'END':
    try:
        for l in lst_Merge:    
                    
                    tkr = l
                    
                    baseUrl = 'https://site.financialmodelingprep.com/discounted-cash-flow-model/{}'
                    url = baseUrl.format(str(tkr))
                    response = urllib.request.urlopen(url)
                    url_contents = response.read()

                    soup = BeautifulSoup(url_contents, "html.parser")
                    dcf = soup.find("div", {"class": "global-button2"}).text

# START CLEAN UP
                    # if 'overvalue' in dcf or  'Stock DCF: - | ' in dcf:
                    #     lst_Merge.remove(tkr)
                    if '- |' in dcf:
                       lst_Merge.remove(tkr) 
                    elif 'overvalue' in dcf:
                        lst_Merge.remove(tkr) 
                    elif dcf is None: 
                        lst_Merge.remove(tkr)
                    else:
                     txtStripper(dcf)



    except AttributeError:
        print('No' , (tkr) )
        lst_Merge.remove(tkr)
        print('Ammended tkr: ' , lst_Merge)

print('Done')
print('Appended Length: ' , len(lst_Merge))

T : Stock DCF: 179.44 | 19.3 | undervalue
STLA : Stock DCF: 404.50 | 14.58 | undervalue
META : Stock DCF: 375.29 | 114.71 | undervalue
JHG : Stock DCF: 73.53 | 25.23 | undervalue
F : Stock DCF: 27.31 | 13.46 | undervalue
NVR : Stock DCF: 6,226.04 | 4703.25 | undervalue
WBD : Stock DCF: 530.57 | 11.27 | undervalue
SU : Stock DCF: 65.88 | 30.34 | undervalue
No ETF
Ammended tkr:  ['T', 'STLA', 'ABEV', 'META', 'JHG', 'F', 'USA', 'AAPL', 'NVR', 'BAC', 'WBD', 'SU', 'MSFT', 'VALE', 'FAQ', 'EAT', 'NIO', 'ITUB', 'RGLD', 'BALL', 'UK', 'LCID', 'AMZN', 'COUP', 'GT', 'ITW', 'TSLA', 'NVDA', 'BBD', 'NU', 'API', 'END']
T : Stock DCF: 179.44 | 19.3 | undervalue
STLA : Stock DCF: 404.50 | 14.58 | undervalue
ABEV : Stock DCF: 25.17 | 2.87 | undervalue
META : Stock DCF: 375.29 | 114.71 | undervalue
JHG : Stock DCF: 73.53 | 25.23 | undervalue
F : Stock DCF: 27.31 | 13.46 | undervalue
NVR : Stock DCF: 6,226.04 | 4703.25 | undervalue
BAC : Stock DCF: 121.39 | 32.73 | undervalue
WBD : Stock DCF: 530.57 | 11.27 | undervalue
SU : Stock DCF: 65.88 | 30.34 | undervalue
No FAQ
Ammended tkr:  ['T', 'STLA', 'ABEV', 'META', 'JHG', 'F', 'AAPL', 'NVR', 'BAC', 'WBD', 'SU', 'VALE', 'EAT', 'NIO', 'ITUB', 'RGLD', 'BALL', 'UK', 'LCID', 'AMZN', 'COUP', 'GT', 'ITW', 'TSLA', 'NVDA', 'BBD', 'NU', 'API', 'END']
T : Stock DCF: 179.44 | 19.3 | undervalue
STLA : Stock DCF: 404.50 | 14.58 | undervalue
ABEV : Stock DCF: 25.17 | 2.87 | undervalue
META : Stock DCF: 375.29 | 114.71 | undervalue
JHG : Stock DCF: 73.53 | 25.23 | undervalue
F : Stock DCF: 27.31 | 13.46 | undervalue
BAC : Stock DCF: 121.39 | 32.73 | undervalue
WBD : Stock DCF: 530.57 | 11.27 | undervalue
SU : Stock DCF: 65.88 | 30.34 | undervalue
VALE : Stock DCF: 54.76 | 16.23 | undervalue
EAT : Stock DCF: 143.35 | 34.57 | undervalue
BBD : Stock DCF: 91.59 | 2.67 | undervalue
NU : Stock DCF: 69.25 | 4.02 | undervalue
T : Stock DCF: 179.44 | 19.3 | undervalue
STLA : Stock DCF: 404.50 | 14.58 | undervalue
ABEV : Stock DCF: 25.17 | 2.87 | undervalue
META : Stock DCF: 375.29 | 114.71 | undervalue
JHG : Stock DCF: 73.53 | 25.23 | undervalue
F : Stock DCF: 27.31 | 13.46 | undervalue
NVR : Stock DCF: 6,226.04 | 4703.25 | undervalue
BAC : Stock DCF: 121.39 | 32.73 | undervalue
WBD : Stock DCF: 530.57 | 11.27 | undervalue
SU : Stock DCF: 65.88 | 30.34 | undervalue
VALE : Stock DCF: 54.76 | 16.23 | undervalue
EAT : Stock DCF: 143.35 | 34.57 | undervalue
ITUB : Stock DCF: 155.14 | 4.54 | undervalue
NU : Stock DCF: 69.25 | 4.02 | undervalue
No END
Ammended tkr:  ['T', 'STLA', 'ABEV', 'META', 'JHG', 'F', 'NVR', 'BAC', 'WBD', 'SU', 'VALE', 'EAT', 'ITUB', 'LCID', 'ITW', 'BBD', 'NU']
Done
Appended Length:  17

In [25]:
lst_Merge

['T',
 'STLA',
 'ABEV',
 'META',
 'JHG',
 'F',
 'NVR',
 'BAC',
 'WBD',
 'SU',
 'VALE',
 'EAT',
 'ITUB',
 'LCID',
 'ITW',
 'BBD',
 'NU']

In [26]:
mergedTkrs = ''

overVal = []
underVal = []
nanList = []

dict_CurrentPrice = {}
dict_Valuation = {}
dict_Discount = {}
dict_UnderBy = {}

# tkr, $, evaluation
#lst_Comparison = []

In [27]:
# DEF:   remove newline and spaces
def txtValueFilter(dcf):
    dcf = dcf.replace('\n', '')
    dcf = dcf.replace(',', '')
    dcf = dcf.strip()

    if dcf is None:
        lst_Merge.remove(mergedTkrs)

    if 'Stock DCF: - | ' in dcf: # NAN values in ticker price. instead of try: block
        nanList.append(mergedTkrs)

    # elif 'overvalue' in dcf:
    #     overVal.append(mergedTkrs) # append to list
        
        
    elif 'undervalue' in dcf:
         underVal.append(mergedTkrs) # append to list
         
         EvaluateDCF(dcf)
               
    else:
        print('No Value Statement: code Throw')

    print(mergedTkrs, ':',  (dcf))

In [28]:
#   DEF CALCULATE VALUE DIFFERENCE

def EvaluateDCF(tstStr):
    tstStr = tstStr.replace('Stock DCF:', '')
    tstStr = tstStr.replace('|', '-', 1)
    tstStr = tstStr.replace('|', '')
    tstStr = tstStr.replace('overvalue', '')
    tstStr = tstStr.replace('undervalue', '')
    
    tstStr = tstStr.split('-')

    eval = float(tstStr[0]) - float(tstStr[1])
    eval = (round(eval, 2))

    currentPrice =  float(tstStr[0])
    valuation = float(tstStr[1])
    discount = currentPrice - valuation
    underBy = round((valuation / currentPrice) * 100, 2)

    dict_CurrentPrice.update( {mergedTkrs : tstStr[0]})
    dict_Valuation.update({mergedTkrs : discount})
    dict_Discount.update({mergedTkrs : valuation})
    dict_UnderBy.update({mergedTkrs : underBy})

    #lst_Comparison.append(mergedTkrs, currentPrice, eval )
    
    print (mergedTkrs, 'Undervalued by: $', valuation)

In [29]:
#   CALC LOOP

for mergedTkrs in lst_Merge:
    try:
        baseUrl = 'https://site.financialmodelingprep.com/discounted-cash-flow-model/{}'
        url = baseUrl.format(str(mergedTkrs))
        response = urllib.request.urlopen(url)
        url_contents = response.read()

        soup = BeautifulSoup(url_contents, "html.parser")
        dcf = soup.find("div", {"class": "global-button2"}).text

        print('error checker: ',mergedTkrs, dcf)

        txtValueFilter(dcf) 
    
    except AttributeError:
        print('No text for ' , (mergedTkrs) )
        lst_Merge.remove(mergedTkrs)

    except KeyError: 'END'

print('CALC DONE. ')

error checker:  T
                Stock DCF: 179.44 | 19.3 | undervalue

T Undervalued by: $ 19.3
T : Stock DCF: 179.44 | 19.3 | undervalue
error checker:  STLA
                Stock DCF: 404.50 | 14.58 | undervalue

STLA Undervalued by: $ 14.58
STLA : Stock DCF: 404.50 | 14.58 | undervalue
error checker:  ABEV
                Stock DCF: 25.17 | 2.87 | undervalue

ABEV Undervalued by: $ 2.87
ABEV : Stock DCF: 25.17 | 2.87 | undervalue
error checker:  META
                Stock DCF: 375.29 | 114.71 | undervalue

META Undervalued by: $ 114.71
META : Stock DCF: 375.29 | 114.71 | undervalue
error checker:  JHG
                Stock DCF: 73.53 | 25.23 | undervalue

JHG Undervalued by: $ 25.23
JHG : Stock DCF: 73.53 | 25.23 | undervalue
error checker:  F
                Stock DCF: 27.31 | 13.46 | undervalue

F Undervalued by: $ 13.46
F : Stock DCF: 27.31 | 13.46 | undervalue
error checker:  NVR
                Stock DCF: 6,226.04 | 4703.25 | undervalue

NVR Undervalued by: $ 4703.25
NVR : Stock DCF: 6226.04 | 4703.25 | undervalue
error checker:  BAC
                Stock DCF: 121.39 | 32.73 | undervalue

BAC Undervalued by: $ 32.73
BAC : Stock DCF: 121.39 | 32.73 | undervalue
error checker:  WBD
                Stock DCF: 530.57 | 11.27 | undervalue

WBD Undervalued by: $ 11.27
WBD : Stock DCF: 530.57 | 11.27 | undervalue
error checker:  SU
                Stock DCF: 65.88 | 30.34 | undervalue

SU Undervalued by: $ 30.34
SU : Stock DCF: 65.88 | 30.34 | undervalue
error checker:  VALE
                Stock DCF: 54.76 | 16.23 | undervalue

VALE Undervalued by: $ 16.23
VALE : Stock DCF: 54.76 | 16.23 | undervalue
error checker:  EAT
                Stock DCF: 143.35 | 34.57 | undervalue

EAT Undervalued by: $ 34.57
EAT : Stock DCF: 143.35 | 34.57 | undervalue
error checker:  ITUB
                Stock DCF: 155.14 | 4.54 | undervalue

ITUB Undervalued by: $ 4.54
ITUB : Stock DCF: 155.14 | 4.54 | undervalue
error checker:  LCID
                Stock DCF: -4,503,149.72 | 8.28 | overvalue

No Value Statement: code Throw
LCID : Stock DCF: -4503149.72 | 8.28 | overvalue
error checker:  ITW
                Stock DCF: 111.37 | 224.25 | overvalue

No Value Statement: code Throw
ITW : Stock DCF: 111.37 | 224.25 | overvalue
error checker:  BBD
                Stock DCF: 91.59 | 2.67 | undervalue

BBD Undervalued by: $ 2.67
BBD : Stock DCF: 91.59 | 2.67 | undervalue
error checker:  NU
                Stock DCF: 69.25 | 4.02 | undervalue

NU Undervalued by: $ 4.02
NU : Stock DCF: 69.25 | 4.02 | undervalue
CALC DONE.

In [30]:
dict_UnderBy

{'T': 10.76,
 'STLA': 3.6,
 'ABEV': 11.4,
 'META': 30.57,
 'JHG': 34.31,
 'F': 49.29,
 'NVR': 75.54,
 'BAC': 26.96,
 'WBD': 2.12,
 'SU': 46.05,
 'VALE': 29.64,
 'EAT': 24.12,
 'ITUB': 2.93,
 'BBD': 2.92,
 'NU': 5.81}

In [31]:
underVal

['T',
 'STLA',
 'ABEV',
 'META',
 'JHG',
 'F',
 'NVR',
 'BAC',
 'WBD',
 'SU',
 'VALE',
 'EAT',
 'ITUB',
 'BBD',
 'NU']

In [32]:

dict_CurrentPrice

{'T': ' 179.44 ',
 'STLA': ' 404.50 ',
 'ABEV': ' 25.17 ',
 'META': ' 375.29 ',
 'JHG': ' 73.53 ',
 'F': ' 27.31 ',
 'NVR': ' 6226.04 ',
 'BAC': ' 121.39 ',
 'WBD': ' 530.57 ',
 'SU': ' 65.88 ',
 'VALE': ' 54.76 ',
 'EAT': ' 143.35 ',
 'ITUB': ' 155.14 ',
 'BBD': ' 91.59 ',
 'NU': ' 69.25 '}

In [33]:
# v = dict_Valuation.values()
# float([x for x in v][0])

dict_Valuation

{'T': 160.14,
 'STLA': 389.92,
 'ABEV': 22.3,
 'META': 260.58000000000004,
 'JHG': 48.3,
 'F': 13.849999999999998,
 'NVR': 1522.79,
 'BAC': 88.66,
 'WBD': 519.3000000000001,
 'SU': 35.53999999999999,
 'VALE': 38.53,
 'EAT': 108.78,
 'ITUB': 150.6,
 'BBD': 88.92,
 'NU': 65.23}

In [34]:

dict_Discount

{'T': 19.3,
 'STLA': 14.58,
 'ABEV': 2.87,
 'META': 114.71,
 'JHG': 25.23,
 'F': 13.46,
 'NVR': 4703.25,
 'BAC': 32.73,
 'WBD': 11.27,
 'SU': 30.34,
 'VALE': 16.23,
 'EAT': 34.57,
 'ITUB': 4.54,
 'BBD': 2.67,
 'NU': 4.02}

In [35]:
df_Value = pd.DataFrame([dict_CurrentPrice, dict_Valuation, dict_Discount, dict_UnderBy]).T
df_Value.columns = ['Price', 'Value', 'Discount', '% Under']

df_Value

          Price    Value Discount % Under
T       179.44    160.14     19.3   10.76
STLA    404.50    389.92    14.58     3.6
ABEV     25.17      22.3     2.87    11.4
META    375.29    260.58   114.71   30.57
JHG      73.53      48.3    25.23   34.31
F        27.31     13.85    13.46   49.29
NVR    6226.04   1522.79  4703.25   75.54
BAC     121.39     88.66    32.73   26.96
WBD     530.57     519.3    11.27    2.12
SU       65.88     35.54    30.34   46.05
VALE     54.76     38.53    16.23   29.64
EAT     143.35    108.78    34.57   24.12
ITUB    155.14     150.6     4.54    2.93
BBD      91.59     88.92     2.67    2.92
NU       69.25     65.23     4.02    5.81

In [16]:
df_Value = df_Value.astype(float)

In [17]:
df_Value.dtypes

Price       float64
Value       float64
Discount    float64
dtype: object

In [18]:
#   DROP EXPENCIVE STOCKS

# Get names of indexes for which column //Age has value 30
indxNames = df_Value[df_Value['Price'] > 150].index
# Delete these row indexes from dataFrame
df_Value.drop(indxNames , inplace=True)
df_Value

       Price   Value  Discount
ABEV   25.17   22.30      2.87
JHG    73.53   48.30     25.23
F      27.31   13.85     13.46
BAC   121.39   88.66     32.73
SU     65.88   35.54     30.34
VALE   54.76   38.53     16.23
EAT   143.35  108.78     34.57
BBD    91.59   88.92      2.67
NU     69.25   65.23      4.02

### start from here

In [ ]:
sumV = df_Value['Value'].sum()
float(sumV)
round(sumV,2)

In [ ]:
#df_Value['Value'].round(2)

In [ ]:
89.795 in df_Value is float

In [ ]:
dfN = df_Value[df_Value['Price'] > 150]

In [ ]:
df_Value.plot(figsize=      (10,6))