In [142]:
import pandas as pd
import numpy as np
import jinja2

In [143]:
%store -r df_Value_Full

In [144]:
df_Value_Full

          Price    Value Discount % Under
NVR    6161.85   1561.66  4600.19   74.66
F        29.16     17.64    11.52   39.51
JHG      73.15     48.94    24.21    33.1
EAT     148.84    116.18    32.66   21.94
STLA    393.16    379.13    14.03    3.57

In [ ]:


# Sample DataFrame
df = df_Value_Full

# See: https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html#Building-styles
# def color_negative_red(val):
#     color = 'red' if val < 10 else 'black'
#     return f'color: {color}'

# styler = df.style #.applymap(color_negative_red)

# Template handling
env = jinja2.Environment(loader=jinja2.FileSystemLoader(searchpath=''))
template = env.get_template('template.html')
html = template.render(myTable= styler.to_html())

# Plot
ax = df.plot.bar()
fig = ax.get_figure()
fig.savefig('plot.svg')

# Write the HTML file
with open('report.html', 'w') as f:
    f.write(html)

In [ ]:
df_Value_Full = df_Value_Full.astype(float)
# df_Value_Full = round(df_Value_Full,2) 
df_Value_Full

In [ ]:
<body>

    <h1>My Report 04</h1>

    {{ my_table }}

    <img src='plot.svg' width="600">

</body>

In [ ]:


# Sample DataFrame
df = pd.DataFrame(np.random.randn(5, 4), columns=['one', 'two', 'three', 'four'],
                  index=['a', 'b', 'c', 'd', 'e'])

# See: https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html#Building-styles
def color_negative_red(val):
    color = 'red' if val < 0 else 'black'
    return f'color: {color}'

styler = df.style.applymap(color_negative_red)

# Template handling
env = jinja2.Environment(loader=jinja2.FileSystemLoader(searchpath=''))
template = env.get_template('template.html')
# html = template.render(my_table=Styler.to_html())
html = template.render(my_table=styler.render())

# Plot
ax = df.plot.bar()
fig = ax.get_figure()
fig.savefig('plot.svg')

# Write the HTML file
with open('report.html', 'w') as f:
    f.write(html)